
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
  <img src="assets/aa55.jpg" height="30" width="160">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply">absence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply2">congé</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/liste">Confirm/annul demande <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/confi">demandes confirmées</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/confii">mes demandes /mes congés</a>
        </li>
    <!--  <li class="nav-item">
        <a class="nav-link" href="/recrutement">recrutement</a>
      </li>-->
    <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown06">
          <a class="dropdown-item" href="/liste">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>--> 
    </ul>
    <!--<form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>-->
  </div>
</nav>

