.grid-container {
    margin: 20px;
    width: 250px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 0px;
    right: 15px;
    bottom: 15px;
    width: 950px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 250px;
  }
  
  .dashboard-card-content {
    text-align: center;
    width: 950px;
  }
  .stack1{
    width: 250px;
  }
  
  .stackBarDataJson{
    width: 600px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  