
.cont{
    width: 1400;
    height: 300;
    background-image: image(url="assets/hh.jpg");
    //background: url(assets/terre.jpg);
    background-size: cover;
  }
  
  .container {
    position: relative;
    font-family: Arial;
  }
  img {
    border-radius: 50%;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .siz4{
    margin-left: 350px;
    width: 50px;
    
    .siz{
        font-size :14px;
      }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
  
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  
  
  
  
  
    }
    .container1{
        background-color:cadetblue;
      }
  
  .footer{
    .containerfooter{
          //padding-bottom: 0px;
    //margin-bottom: 0px;
      //padding-top: 50px;
  }
    //bottom: 0;
    margin-block-start: 0px;
      background-color:black// #D1C4E9;
      //padding-bottom: 0px;
      //margin: 0px auto;
      //padding: 200px 100px 200px 0px; 
  }
  
  //.hy{
   // background-color :#69f0ae  ;
  //}
  
  
  
  
  
  
  
  
  
  
    
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .container{
    top:0px;
    
  }
  
  video{
    position:relative;
    display:block;
    background: 0%;
    width:100%; 
  }
  
  .siz4{
    margin-left: 350px;
    width: 50px;
    
    }
  
  //////  
  .center{
  
  
  margin-left: 10px;
  
  
  }
  
  
    .container1{
        background-color:cadetblue;
        height: 100%;
  align-content: center;
      }
    .siz{
        font-size :14px;
      }
  .footer{
    .containerfooter{
          //padding-bottom: 0px;
    //margin-bottom: 0px;
      //padding-top: 50px;
  }
    //bottom: 0;
    margin-block-start: 0px;
      background-color:black// #D1C4E9;
      //padding-bottom: 0px;
      //margin: 0px auto;
      //padding: 200px 100px 200px 0px; 
  }
  .lead{
  
    height: 1000px ;
  }
  /////////////////
  
  header {
    position: relative;
    background-color: black;
    height: 110vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  ///////////////
  
  .tablel {
  
  width: 900 px;
  margin-top: 80px;
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }