.carousel{
    background:#512DA8;
    //background-color: blue;

}
.carousel-item{
    height:400px;
}
.carousel-item img{
    position:absolute;
    height: 400px;
    top:0px;
    left:120px;
    min-height: 200px;
}
.cont{
    width: 1400;
    height: 300;
    background-image: image(url="assets/hh.jpg");
    //background: url(assets/terre.jpg);
    background-size: cover;
}

.siz{
  font-size :14px;
}
.nv-link{

  font-size :2px;
}
.container44{
	padding-top: 400px;
	height: 20px;
	//width: absolute;
	//background-image: image(url="assets/bbbbbbbbb.jpg");
//	background: url(assets/hh.jpg);
	background-repeat: no-repeat;
	background: url(/../assets/1313.jpg) no-repeat center center fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;
	
}
.siz4{
margin-left: 350px;
width: 50px;

}

  .container {
    position: relative;
    font-family: Arial;
  }
 
  .card10 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 50px;
    text-align: center;
    font-family: arial;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
   
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }







//.text-block {
    //position: absolute;
   // bottom: 0px;
    //right: 20px;
    //background-color: black;
    //height: 400px;
    //width: 180px;
    //padding-left: 20px;
   // padding-right: 20px;
  //}
  
 
#carouselButton{

  right:0px;
 width: 60px;
 height: 70px;
 //position:absolute;
  bottom :0px;
}




 

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
 
  .footer{
    .containerfooter{
          //padding-bottom: 0px;
    //margin-bottom: 0px;
      //padding-top: 50px;
  }
    //bottom: 0;
    margin-block-start: 0px;
      background-color:black// #D1C4E9;
      //padding-bottom: 0px;
      //margin: 0px auto;
      //padding: 200px 100px 200px 0px; 
  }
  


  body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  .container1{
    background-color:cadetblue;
  }
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }