

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
  <!--<img src="assets/aa55.jpg" height="30" width="160">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link siz"  href="/home-admin">acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/create-compte">ajouter utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/update-compte">modifier utilisateur</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">consulter compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">supprimer utilisateur </a>
      </li>
      <li class="nav-item">
          <a class="nav-link siz" href="/consulter-statistiques">statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/consulter-historique">historiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/asciduite">asciduité</a>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" href="/message">message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/publication">publication</a>
        </li>
        <li class="nav-item">
        
          <i class="fa fa-user nav-link siz4"  style="width:50px;" aria-hidden="true">{{ListProfil[0]}}</i>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" style="cursor:pointer"  (click)="userService.logout()">logout</a>
        </li>
        
   
    </ul>
 
  </div>
</nav>


<router-outlet></router-outlet>



  <div class="container1">
    
      <div class="row row-content">

      <div class="col">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
     <div class="carousel-item active">
       <img class="d-block img-fluid" src="assets/st1.jpg" alt="terre1" width="1100">
       <div class="carousel-caption d-none d-md-block">
        
         
       </div>
     </div>
    
      <div class="carousel-item ">
          <img class="d-block img-fluid" src="assets/st2.jpg" alt="terre1" width="1100">
          <div class="carousel-caption d-none d-md-block">
   
              
          </div>
        </div>
        <div class="carousel-item ">
            <img class="d-block img-fluid" src="assets/st3.jpg" alt="terre1" width="1100">
            <div class="carousel-caption d-none d-md-block">
           
           
            </div>
          </div>
          <div class="carousel-item ">
              <img class="d-block img-fluid" src="assets/st5.jpg" alt="terre1" width="1100">
              <div class="carousel-caption d-none d-md-block">
              
              </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block img-fluid" src="assets/st6.jpg" alt="terre1" width="1100">
                <div class="carousel-caption d-none d-md-block">
                
                </div>
              </div>
              <!--<div class="carousel-item ">
                  <img class="d-block img-fluid" src="assets/m.jpg" alt="terre1" width="500">
                  <div class="carousel-caption d-none d-md-block">
                    <h2><span class="badge badge-danger"></span><span class="badge badge-pill badge-default"></span></h2>
                  <p></p>
                  </div>
                </div>-->
                <div class="carousel-item ">
                    <img class="d-block img-fluid" src="assets/st7.jpg" alt="terre1" width="1100">
                    <div class="carousel-caption d-none d-md-block">
                  
                    </div>
                  </div>
                  <div class="carousel-item ">
                      <img class="d-block img-fluid" src="assets/st8.jpg" alt="terre1" width="1100">
                      <div class="carousel-caption d-none d-md-block">
             
                      </div>
                    </div>



                  <div class="carousel-item ">
                      <img class="d-block img-fluid" src="assets/st9.jpg" alt="terre1" width="1100">
                      <div class="carousel-caption d-none d-md-block">
                     
                      </div>
                    </div>

                    <div class="carousel-item ">
                      <img class="d-block img-fluid" src="assets/st10.jpg" alt="terre1" width="1100">
                      <div class="carousel-caption d-none d-md-block">
                     
                      </div>
                    </div>







                    <div class="carousel-item ">
                        <img class="d-block img-fluid" src="assets/st11.jpg" alt="terre1" width="1100">
                        <div class="carousel-caption d-none d-md-block">
                        
                        </div>
                      </div>






                      <div class="carousel-item ">
                          <img class="d-block img-fluid" src="assets/st12.jpg" alt="terre1" width="1100">
                          <div class="carousel-caption d-none d-md-block">
                         
                          </div>
                        </div>




      <div class="carousel-item ">
          <img class="d-block img-fluid" src="assets/st13.jpg" alt="terre1" width="1100">
          <div class="carousel-caption d-none d-md-block">
         
          </div>
        </div>
     
        <ol class="carousel-indicators">
          <li data-target="#mycarousel"  data-slide-to="0" class="active"></li>
          <li data-target="#mycarousel"  data-slide-to="1"></li> 
          <li data-target="#mycarousel"  data-slide-to="2"></li> 
          <li data-target="#mycarousel"  data-slide-to="3"></li> 
          <li data-target="#mycarousel"  data-slide-to="4"></li> 
          <li data-target="#mycarousel"  data-slide-to="5"></li> 
          <li data-target="#mycarousel"  data-slide-to="6"></li> 
          <li data-target="#mycarousel"  data-slide-to="7"></li> 
          <li data-target="#mycarousel"  data-slide-to="8"></li> 
          <li data-target="#mycarousel"  data-slide-to="9"></li> 
          <li data-target="#mycarousel"  data-slide-to="10"></li> 
          <li data-target="#mycarousel"  data-slide-to="11"></li> 
        </ol>
        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
   </div>
        </div>
      


         <div class="container44">
          
          
            <div class="container">
                
                <div class="text-block">
                
                  <div *ngIf ="init()"> <img   src="assets/st4.jpg" alt="Avatar" style="width:100px">
                  </div>
                  
                  <!--  <p >ton nom est :</p>
                    <p>{{ListProfil[0]}}</p>
                    <p >ton prenom est :<p>
                    <p>{{ListProfil[1]}}</p> -->
                
                   
                  
                  
                    
                 
                </div>
              </div>
              
         </div>
        



</div>




   
   
    
  
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="card-group">
    
    <div class="card">
        <img src="assets/aa40.jpg" alt="John" style="width:60%" alt="Card image cap" class="bg-secondary">
        <div style="margin: 24px 0;">
          </div>
         <p><button  (click)="g()" >Créer compte</button></p>
    </div>
  
    <div class="card">
        <img src="assets/aa41.jpg" alt="John" style="width:50%" alt="Card image cap">
        <div style="margin: 24px 0;">
          </div>
         <p><button  (click)="g1()">Modifier</button></p>
    </div>
    <div class="card">
        <img src="assets/aa42.jpg" alt="John" style="width:60%" alt="Card image cap">
        <div style="margin: 24px 0;">
          </div>
         <p><button   (click)="g2()">Supprimer compte</button></p>
    </div>
    <div class="card">
      <img src="assets/aa43.jpg" alt="John" style="width:50%" alt="Card image cap">
      <div style="margin: 24px 0;">
        </div>
       <p><button   (click)="g3()">Conslter compte</button></p>
  </div>

  <div class="card">
    <img src="assets/a17.jpg" alt="John" style="width:60%" alt="Card image cap" class="bg-secondary">
    <div style="margin: 24px 0;">
      </div>
     <p><button  (click)="g4()" >statistiques</button></p>
</div>
<div class="card">
  <img src="assets/a18.png" alt="John" style="width:60%" alt="Card image cap" class="bg-secondary">
  <div style="margin: 24px 0;">
    </div>
   <p><button  (click)="g5()" >historiques</button></p>
</div>
<br>
<div class="card">
  <img src="assets/pub.jpg" alt="John" style="width:60%" alt="Card image cap" class="bg-secondary">
  <div style="margin: 24px 0;">
    </div>
   <p><button  (click)="g6()" >publication</button></p>
</div>
<div class="card">
  <img src="assets/message.jpg" alt="John" style="width:60%" alt="Card image cap" class="bg-secondary">
  <div style="margin: 24px 0;">
    </div>
   <p><button  (click)="g7()" >message</button></p>
</div>







  
  </div> 
    
  
  
  


      
          




</div>

<app-footer></app-footer>
