<html>

<body>
  
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form name="form" (ngSubmit)="f.form.valid && onSubmit(this.model)  " #f="ngForm" novalidate class="c1">


            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text"  class="form-control" [(ngModel)]="model.firstname" #firstname="ngModel" 
                [ngClass]="{'is-invalid':f.submitted && firstname.invalid}" name="firstname" required  placeholder="Nom">
       <div  *ngIf="f.submitted && firstname.invalid " class="text-danger">
         <div>nom  obligatoire</div>
       </div>

      </div>






      <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" name="lastname" class="form-control" [(ngModel)]="model.lastname" #lastname="ngModel" 
          [ngClass]="{'is-invalid':f.submitted && lastname.invalid}" required  placeholder="Prenom">
          <div *ngIf="f.submitted && lastname.invalid" class="text-danger">
              <div>prenom obligatoire</div>
            </div>
           
        </div>


        <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input type="text"  name="phone" class="form-control" [(ngModel)]="model.phone"  #phone="ngModel" 
            [ngClass]="{'is-invalid':f.submitted && phone.invalid}" required placeholder="téléphone"
            minlength="6">
          
            <div  *ngIf="f.submitted && phone.invalid"class="text-danger">
                <div *ngIf="phone.errors.required">téléphone obligatoire</div>
             
                
              </div>
          </div>
      


          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
              </div>
              <input type="date"  name="datef" class="form-control" [(ngModel)]="model.datenaissance" #datenaissance="ngModel" 
              [ngClass]="{'is-invalid':f.submitted && datenaissance.invalid}"  required placeholder="date naissance">
          
              <div  *ngIf="f.submitted && datenaissance.invalid" class="text-danger">
                  <div *ngIf="datenaissance.errors.required">Date  naissance obligatoire</div>
                 
                </div>
            </div>






					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <input type="text" class="form-control" placeholder="username" name="email" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9+.]+$" class="form-control" [(ngModel)]="model.email" #email="ngModel"
            [ngClass]="{'is-invalid':f.submitted && email.invalid}"  required>
            <div  *ngIf="f.submitted && email.invalid" class="text-danger">
              <br>
                <div *ngIf="email.errors.required">username est obligatoire</div>
                <div *ngIf="email.errors.pattern">username non valide</div>
              </div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password" class="form-control" [(ngModel)]="model.password"  #password="ngModel" 
            [ngClass]="{'is-invalid':f.submitted && password.invalid}" required
            minlength="6">
            <div  *ngIf="f.submitted && password.invalid"class="text-danger">
                <div *ngIf="password.errors.required">mot de passe obligatoire</div>
                <div *ngIf="password.errors.minlength">mot de passe contient au moins 6 caractéres</div>
                
              </div>
					</div>
					<!--<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>-->
					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					déja inscrit <a href="/login-admin">Sign in</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">oublier ton mot de passe?</a>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>