


<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
  <!--<img src="assets/aa55.jpg" height="30" width="160">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link siz"  href="/home-admin">acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/create-compte">ajouter utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/update-compte">modifier utilisateur</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">consulter compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">supprimer utilisateur </a>
      </li>
      <li class="nav-item">
          <a class="nav-link siz" href="/consulter-statistiques">statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/consulter-historique">historiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/asciduite">asciduité</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link siz" href="/message">message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/publication">publication</a>
        </li>
        <li class="nav-item">
        
          <i class="fa fa-user nav-link siz4"  style="width:50px;" aria-hidden="true">{{ListProfil[0]}}</i>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" style="cursor:pointer"  (click)="userService.logout()">logout</a>
        </li>
        
   
    </ul>
 
  </div>
</nav>



<div style="text-align:center">
  <hr>
   <hr>
<body>
    <h2> List des Comptes:{{users[0].email}}</h2>
    <table class="table table">
      <thead>
          <th>#</th>
        <th>Mail</th>
      
        <th>Nom</th>
        <th>prenom</th>
        <th>telephone</th>
       
     
      </thead>
      <tbody>
        <tr  class="bg-secondary " *ngFor="let user of users ;let i=index">
            <td >{{users[i].id}}</td>  
       <td >{{users[i].email}}</td> 
    
       <td >{{users[i].firstname}}</td> 
       <td  >{{users[i].lastname}}</td> 
       <td  >{{users[i].phone}}</td> 
     
       <td >
        <button class="btn btn-success"  (click)="updateUd(user.email , user.id)">Afficher</button>   
      </tr>
      </tbody>
      </table>
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
      <div class="card-header">
        <div class="input-group">
          <input type="text" placeholder="Search..." name="" class="form-control search">
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="lead mb-0 container w-25 h-75 pt-4 center card"  >Ajouter utilisateur
  <form name="form" (ngSubmit)="f.form.valid && onSubmit(this.model) "  #f="ngForm" novalidate>

      <div class="form group card-body">
        <label for="message" > Saisie texte</label>
       
          <input  class="flex-wrap" type="text"  class="form-control" [(ngModel)]="model.message" #publication="ngModel" 
    name="message" required  placeholder="message">
          </div>
<br><div class="form-group">
    <button type="submit"  class="btn btn-primary"  > Enregistrer</button>
  </div> 
   </form>
    </div> 
      <div class="card-body contacts_body">
        <div class="contacts">
     
         <i> Listes des publications :</i>
              <table class="table table">
              <thead>
                  <th>#</th>
                <th>date message</th>
                <th>message</th>        
              </thead>
              <tbody>
                <tr  class="bg-danger" *ngFor="let j of array3 ;let i=index">
                    <td >{{j.user2id}}</td> 
                    
                  <td >{{j.datepub}}</td> 
               <td >{{j.message}}</td>                 
              </tr>
              <tr  class="bg-danger" *ngFor="let n of array4 ;let i=index">
                <td >{{n.user2id}}</td> 
                
              <td >{{n.datepub}}</td> 
           <td >{{n.message}}</td>                 
          </tr>
              </tbody>
              </table>
        <li>
         
        </li>
        <li>
       
        </li>
        <li>
        
        </li>
      </div>
      </div>
      <div class="card-footer"></div>
    </div></div>
    <div class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img">
              <span class="online_icon"></span>
            </div>
            <div class="user_info">
              <span>Chat with Maryam Naz</span>
              <p>1767 Messages</p>
            </div>
            <div class="video_cam">
              <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span>
            </div>
          </div>
          <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
          <div class="action_menu">
            <ul>
              <li><i class="fas fa-user-circle"></i> View profile</li>
              <li><i class="fas fa-users"></i> Add to close friends</li>
              <li><i class="fas fa-plus"></i> Add to group</li>
              <li><i class="fas fa-ban"></i> Block</li>
            </ul>
          </div>
        </div>
        <div class="card-body msg_card_body"  >
          <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
              <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer" *ngFor="let j  of array3 ;let i=index">
              {{j.message}}
              <span class="msg_time">{{j.datepub}}</span>
            </div>
          </div>
          <div class="d-flex justify-content-end mb-4" *ngFor="let n of array4 ;let p=index" >
            <div class="msg_cotainer_send" >
              {{n.message}}
              <span class="msg_time_send">{{n.datepub}}</span>
            </div>
            <div class="img_cont_msg">
         
            </div>
          </div>
        
          <div class="d-flex justify-content-end mb-4">
           
            <div class="img_cont_msg">
          
            </div>
          </div>
        
         
        
        </div>
        <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <form (ngSubmit)="f.form.valid && onSubmit(this.model) " >
            <textarea name="" class="form-control type_msg"  [(ngModel)]="model.message" #publication="ngModel" 
            name="message"    placeholder="Type your message..."></textarea>
            
              <button type="submit"  class="btn btn-primary"  > Envoyer</button>
             </form>
            <div class="input-group-append">
              <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<app-footer></app-footer>