

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->


  <div class="collapse navbar-collapse" id="navbarsExample06">
      <img src="assets/aa55.jpg" height="30" width="160">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/rp">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/rp2">autorisation</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/rp4">congés<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/s">statistiques <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/notif">historiques<span class="sr-only">(current)</span></a>
      </li>
      
      
    <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown06">
          <a class="dropdown-item" href="/liste">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>--> 
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
  </div>
</nav>

<div class="container1">



<h2> Liste Demande congés</h2>
<table class="table table">
<thead>

 
</thead>
<tbody>
 <!-- <tr *ngFor="let demande of array2 ;let i=index">-->
    <tr  class="bg-secondary "  *ngFor="let ind of listca ;let i=index">
        <p *ngFor="let demande of ind.absences let i=index">
     <!-- <td >{{demande.id}}</td> -->
     <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Num utilisateur:</b>{{ind.id}}</td>
      <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Num demande:</b>{{demande.id}}</td> 
  
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Date début:</b>{{demande.dated}}</td> 
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Date fin:</b>{{demande.datef}}</td> 
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1  "><b>Date demande:</b>{{demande.datedemande}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Date retour:</b>{{demande.dateretoureffectif}}</td>  
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1  "><b>Commentaire:</b>{{demande.commentaire}}</td> 
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1  "><b>Urgence:</b>{{demande.urgence}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1 "><b>Motif:</b>{{demande.motif}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   ">{{demande.u}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   ">
 </td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Nom:</b><br>{{ind.firstname}}</td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Prenom:</b><br>{{ind.lastname}}</td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>grade:</b><br>{{ind.job}}</td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==1   "><b>Email:</b><br>{{ind.email}}</td>
 </p></tr>
</tbody>
</table>



<!--<button class="btn btn-primary" (click)="newUser()">Add</button>
<button class="btn btn-primary" (click)="newVoiture()">Add2</button>
</tbody>
</table>-->
<!--
<td *ngIf ="demande.confu=== false "><button class="btn btn-danger" (click)="deleteUser (user)">Delete</button>
  <button class="btn btn-primary"  (click)="updateUser(user)">Edit</button></td>
</tr>
<button class="btn btn-primary" (click)="newUser()">Add</button>
<button class="btn btn-primary" (click)="newVoiture()">Add2</button>
</tbody>
</table>-->



<h2> Liste Demande aux Absences</h2>
<table class="table table">
<thead>

 
</thead>
<tbody>
 <!-- <tr *ngFor="let demande of array2 ;let i=index">-->
    <tr  class="bg-secondary "  *ngFor="let ind of listca ;let i=index">
        <p *ngFor="let demande of ind.absences let i=index">
     <!-- <td >{{demande.id}}</td> -->
     <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Num utilisateur:</b>{{ind.id}}</td>
      <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Num demande:</b>{{demande.id}}</td> 
  
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Date début:</b>{{demande.dated}}</td> 
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Date fin:</b>{{demande.datef}}</td> 
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0  "><b>Date demande:</b>{{demande.datedemande}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Date retour:</b>{{demande.dateretoureffectif}}</td>  
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0  "><b>Commentaire:</b>{{demande.commentaire}}</td> 
 <td  *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0  "><b>Urgence:</b>{{demande.urgence}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0 "><b>Motif:</b>{{demande.motif}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   ">{{demande.u}}</td> 
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   ">
 </td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Nom:</b><br>{{ind.firstname}}</td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Prenom:</b><br>{{ind.lastname}}</td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>grade:</b><br>{{ind.job}}</td>
 <td *ngIf ="demande.confu==1 && demande.confa ==1 && demande.refa==0   "><b>Email:</b><br>{{ind.email}}</td>
 </p></tr>
</tbody>
</table>








</div>


<footer class="footer ">
  <div class="container" id="containerfooter">
      <div class="row">             
          <div class="col-4 offset-1 col-sm-2">
              <h5>Links</h5>
              <ul class="list-unstyled">
                  <li><a href="/rp">Acceuil</a></li>
                  <li><a href="/s">statistiques</a></li>
                  <li><a href="notif">historiques</a></li>
               
              </ul>
          </div>
          <div class="col-7 col-sm-5">
              <h5>Adresse</h5>
              <address>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                <i class="fa fa-envelope fa-lg"></i>: 
                <a href="mailto:confusion@food.net">confusion@apply.net</a>
         </address>
          </div>
          <div class="col-12 col-sm-4">
                  <div class="text-center">
                          <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google"></i></a>
                          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                          <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                          <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
                          <a class="btn btn-social-icon btn-skype" href="http://skype.com/"><i class="fa fa-skype"></i></a>
                       
                      </div>
          </div>
     </div>
     <div class="row">             
          <div class="col-auto">
              <p>© Copyright 2018 Ristorante Con Fusion</p>
          </div>
     </div>
  </div>
</footer>