.carousel{
    background:#512DA8;
    //background-color: blue;

}
.carousel-item{
    height:300px;
}
.carousel-item img{
    position:absolute;
    top:0px;
    left:100px;
    min-height: 300px;
}
.cont{
    width: 1400;
    height: 300;
    background-image: image(url="assets/hh.jpg");
    //background: url(assets/terre.jpg);
    background-size: cover;
}
//.text-block {
    //position: absolute;
   // bottom: 0px;
    //right: 20px;
    //background-color: black;
    //height: 400px;
    //width: 180px;
    //padding-left: 20px;
   // padding-right: 20px;
  //}
  .container {
    position: relative;
    font-family: Arial;
  }
  img {
    border-radius: 50%;
  }
  .carousel{
    background:#512DA8;
    //background-color: blue;

}
.carousel-item{
    height:300px;
}
.carousel-item img{
    position:absolute;
    top:0px;
    left:100px;
    min-height: 300px;
}
.cont{
    width: 1400;
    height: 300;
    background-image: image(url="assets/hh.jpg");
    //background: url(assets/terre.jpg);
    background-size: cover;
}

  .container {
    position: relative;
    font-family: Arial;
  }
  img {
    border-radius: 50%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .footer{
    .containerfooter{
          //padding-bottom: 0px;
    //margin-bottom: 0px;
      //padding-top: 50px;
  }
    //bottom: 0;
    margin-block-start: 0px;
      background-color:black// #D1C4E9;
      //padding-bottom: 0px;
      //margin: 0px auto;
      //padding: 200px 100px 200px 0px; 
  }