
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
  <!--<img src="assets/aa55.jpg" height="30" width="160">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link siz"  href="/home-admin">acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/create-compte">ajouter utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/update-compte">modifier utilisateur</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">consulter compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">supprimer utilisateur </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link siz" href="/consulter-statistiques">statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/consulter-historique">historiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/asciduite">asciduité</a>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" href="/message">message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/publication">publication</a>
        </li>
        <li class="nav-item">
        
          <i class="fa fa-user nav-link siz4"  style="width:50px;" aria-hidden="true">{{ListProfil[0]}}</i>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" style="cursor:pointer"  (click)="userService.logout()">logout</a>
        </li>
        
   
    </ul>
 
  </div>
</nav>

<div style="text-align:center">
  <hr>
  
  <h2> List des Comptes:</h2>
  <table class="table table">
  <thead>
      <th>#</th>
    <th>Mail</th>
    <th>fonction</th>
    <th>Nom</th>
    <th>prenom</th>
    <th>telephone</th>
    <th>autorisation</th>
 
  </thead>
  <tbody>
    <tr  class="bg-secondary " *ngFor="let user of users ;let i=index">
        <td >{{users[i].id}}</td>  
   <td >{{users[i].email}}</td> 
   <td  >{{users[i].job}}</td> 
   <td >{{users[i].firstname}}</td> 
   <td  >{{users[i].lastname}}</td> 
   <td  >{{users[i].phone}}</td> 
   <td  >{{users[i].autorisation}}</td> 
   <td >
    <button class="btn btn-success"  (click)="updateUd(user.email , user.id)">Afficher</button>
    <!--<button class="btn btn-primary" (click)="newUser()">Add</button></td>-->

  </tr>
  </tbody>
  </table>
  
   <!--<h2>Taux de votre absence</h2>-->
   
  <lib-Ng6O2Chart [chartType]="barTypeName" [configData]="configData"  [graphData]="barDataJson" [svgWidth]="'900'" [svgHeight]="'400'"></lib-Ng6O2Chart>
 
   <hr>
   <h2 class="pie">taux d'activité de chaque secteur</h2>
   date debut: <input  class="center svgWidth=60" type="date" name="fonction1"  [(ngModel)]="fonction1"  >
    date fin: <input class="center svgWidth=60" type="date" name="fonction2"  [(ngModel)]="fonction2"  >
    <button type="submit" (click)="sub(this.fonction1 , this.fonction2)"  class="btn btn-primary center"  > consulté</button>
   <lib-Ng6O2Chart [chartType]="pieTypeName" [configData]="configData"  [graphData]="pieDataJson" [svgWidth]="'800'" [svgHeight]="'400'"></lib-Ng6O2Chart>
   
   <hr>
   
   <div style="text-align:center">
    <!-- 
    <hr>
    <h2>GeoOrthographic</h2>
    <lib-Ng6O2Chart [chartType]="geoOrthographicTypeName" [configData]="configData"  [graphData]="geoOrthographicDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr>
     
    <h2>Bar</h2>
    <lib-Ng6O2Chart [chartType]="barTypeName" [configData]="configData"  [graphData]="barDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr>-->
   <!-- <h2>Pie</h2>
    <lib-Ng6O2Chart [chartType]="pieTypeName" [configData]="configData"  [graphData]="pieDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr>
    <h2>ScatterPlot</h2>
    <lib-Ng6O2Chart [chartType]="scatterPlotTypeName" [configData]="configData"  [graphData]="scatterPlotDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    -->
    <!--here the last commentaire vers !!!!!
    <hr>
    <h2>Histogram</h2>
    <lib-Ng6O2Chart [chartType]="histogramTypeName" [configData]="configData"  [graphData]="histogramDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr>
    <h2>PackLayout</h2>
    <lib-Ng6O2Chart [chartType]="packLayoutTypeName" [configData]="configData"  [graphData]="packLayoutDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr> !!!!! -->
     <!-- 
    <h2>Tree</h2>
    <lib-Ng6O2Chart [chartType]="treeTypeName" [configData]="configData"  [graphData]="treeDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr> 
  
    <h2>Line</h2>
    <lib-Ng6O2Chart [chartType]="lineTypeName" [configData]="configData"  [graphData]="lineDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr>
    <h2>GeoMap</h2>
    <lib-Ng6O2Chart [chartType]="geoMapTypeName" [configData]="configData"  [graphData]="geoMapDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    -->
       <!--here the last commentaire vers !!!!!
    <hr>
    <h2>StackBar</h2>
    <lib-Ng6O2Chart [chartType]="stackBarTypeName" [configData]="configData"  [graphData]="stackBarDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr> !!!!!  -->
<!--
  
    <h2>Choropleth</h2>
    <lib-Ng6O2Chart [chartType]="choroplethTypeName" [configData]="configData"  [graphData]="choroplethDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
    <hr>
    <h2>Force</h2>
    <lib-Ng6O2Chart [chartType]="forceTypeName" [configData]="configData"  [graphData]="forceDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
  -->
  </div>


  <app-footer></app-footer>