
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
  <!--<img src="assets/aa55.jpg" height="30" width="160">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link siz"  href="/home-admin">acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/create-compte">ajouter utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/update-compte">modifier utilisateur</a>
      </li>
   
      <li class="nav-item active">
        <a class="nav-link siz" href="/consult-compte">consulter compte</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link siz" href="/consult-compte">supprimer utilisateur </a>
      </li>
      <li class="nav-item">
          <a class="nav-link siz" href="/consulter-statistiques">statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/consulter-historique">historiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/asciduite">asciduité</a>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" href="/message">message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/publication">publication</a>
        </li>
        <li class="nav-item">
        
          <i class="fa fa-user nav-link siz4"  style="width:50px;" aria-hidden="true">{{ListProfil[0]}}</i>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" style="cursor:pointer"  (click)="userService.logout()">logout</a>
        </li>
        
   
    </ul>
 
  </div>
</nav>



<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-90 ">
      <div class="d-flex h-0 text-center align-items-center">
        <div class="w-100 text-white">
            
          <div class="lead mb-0 container w-150 h-75 pt-4 center "  >
             <!-- <h2 ><i> Liste des Comptes:</i></h2>-->
              <table class="tablel table">
                  <thead>
                      <th>Id</th>
                    <th>Mail</th>
                    <th>fonction</th>
                    <th>Nom</th>
                    <th>prenom</th>
                    <th>telephone</th>
                    <th>autorisation</th>
                 
                  </thead>
                  <tbody>
                    <tr  class="hy " *ngFor="let user of users ;let i=index">
                        <td >{{users[i].id}}</td>  
                   <td >{{users[i].email}}</td> 
                   <td  >{{users[i].job}}</td> 
                   <td >{{users[i].firstname}}</td> 
                   <td  >{{users[i].lastname}}</td> 
                   <td  >{{users[i].phone}}</td> 
                   <td  >{{users[i].autorisation}}</td> 
                   <td ><button class="btn btn-danger fa fa-remove w-100"  (click)="deleteUser (user)">Supprimer</button>
                    
                    <!--<button class="btn btn-primary" (click)="newUser()">Add</button></td>-->
              
                  </tr>
                  </tbody>
                  </table>
          
  

        
 
    
































          </div>
        </div>
      </div>
    </div>
  </header>

  

        
 
    



<router-outlet></router-outlet>









   
<footer class="footer ">
  <div class="container" id="containerfooter">
      <div class="row">             
          <div class="col-4 offset-1 col-sm-2">
              <h5>Links</h5>
              <ul class="list-unstyled">
                  <li><a href="/home">Acceuil</a></li>
                  <li><a href="/apply">absence</a></li>
                  <li><a href="apply2">congé</a></li>
                  <li><a href="liste">Confirmer/annuler demande</a></li>
              </ul>
          </div>
          <div class="col-7 col-sm-5">
              <h5>Adresse</h5>
              <address>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                <i class="fa fa-envelope fa-lg"></i>: 
                <a href="mailto:confusion@food.net">confusion@apply.net</a>
         </address>
          </div>
          <div class="col-12 col-sm-4">
                  <div class="text-center">
                          <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google"></i></a>
                          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                          <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                          <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
                          <a class="btn btn-social-icon btn-skype" href="http://skype.com/"><i class="fa fa-skype"></i></a>
                       
                      </div>
          </div>
     </div>
     <div class="row">             
          <div class="col-auto">
              <p>© Copyright 2018 Ristorante Con Fusion</p>
          </div>
     </div>
  </div>
</footer>
















  

























            

                
            
  





    
 



