
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Expand at xl</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
  <!--<img src="assets/aa55.jpg" height="30" width="160">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link siz"  href="/home-admin">acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/create-compte">ajouter utilisateur</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link siz" href="/update-compte">modifier utilisateur</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">consulter compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link siz" href="/consult-compte">supprimer utilisateur </a>
      </li>
      <li class="nav-item">
          <a class="nav-link siz" href="/consulter-statistiques">statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/consulter-historique">historiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/asciduite">asciduité</a>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" href="/message">message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link siz" href="/publication">publication</a>
        </li>
        <li class="nav-item">
        
          <i class="fa fa-user nav-link siz4"  style="width:50px;" aria-hidden="true">{{ListProfil[0]}}</i>
        </li>

        <li class="nav-item">
          <a class="nav-link siz" style="cursor:pointer"  (click)="userService.logout()">logout</a>
        </li>
        
   
    </ul>
 
  </div>
</nav>






<html>

<body>
  
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="center">modifier</h3>
		
			</div>
			<div class="card-body">
				<form name="form" (ngSubmit)="f.form.valid && onSubmit(this.model) "  #f="ngForm" novalidate>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text"  class="form-control" [(ngModel)]="model.firstname" #firstname="ngModel" 
                [ngClass]="{'is-invalid':f.submitted && firstname.invalid}" name="firstname" required  placeholder="Nom">
       <div  *ngIf="f.submitted && firstname.invalid " class="text-danger">
         <div>nom  obligatoire</div>
       </div>

      </div>






      <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" name="lastname" class="form-control" [(ngModel)]="model.lastname" #lastname="ngModel" 
          [ngClass]="{'is-invalid':f.submitted && lastname.invalid}" required  placeholder="Prenom">
          <div *ngIf="f.submitted && lastname.invalid" class="text-danger">
              <div>prenom obligatoire</div>
            </div>
           
        </div>


        <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input type="text"  name="phone" class="form-control" [(ngModel)]="model.phone"  #phone="ngModel" 
            [ngClass]="{'is-invalid':f.submitted && phone.invalid}" required placeholder="téléphone"
            minlength="6">
          
            <div  *ngIf="f.submitted && phone.invalid"class="text-danger">
                <div *ngIf="phone.errors.required">téléphone obligatoire</div>
             
                
              </div>
          </div>
      


          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
              </div>
              <input type="date"  name="datef" class="form-control" [(ngModel)]="model.datenaissance" #datenaissance="ngModel" 
              [ngClass]="{'is-invalid':f.submitted && datenaissance.invalid}"  required placeholder="date naissance">
          
              <div  *ngIf="f.submitted && datenaissance.invalid" class="text-danger">
                  <div *ngIf="datenaissance.errors.required">Date  naissance obligatoire</div>
                 
                </div>
            </div>






					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <input type="text" class="form-control" placeholder="username" name="email" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9+.]+$" class="form-control" [(ngModel)]="model.email" #email="ngModel"
            [ngClass]="{'is-invalid':f.submitted && email.invalid}"  required>
            <div  *ngIf="f.submitted && email.invalid" class="text-danger">
              <br>
                <div *ngIf="email.errors.required">username est obligatoire</div>
                <div *ngIf="email.errors.pattern">username non valide</div>
              </div>
					</div>
			
				
					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
		
		
			</div>
		</div>
	</div>
</div>

</body>
</html>

    <app-footer></app-footer>